.container {
    display: flex;
    flex-direction: row;
}
.left_container {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.left_container > h2 {
    color: #192252;
    margin: 0 20px 10px 20px;

}
.left_container > p {
    margin: 0 20px 10px 20px;
}
.donation_svg {
    margin: 3rem auto 1rem auto;
}
.right_container {
    width: 50%;
    display: flex;
    flex-direction: column;
}



@media screen and (max-width: 580px) {
    .left_container {
        display: none;
    }
    .right_container {
        width: 100%;
        padding-left: 10px;
    }
}